@using Project.Data.Models
@model Team

@{
    ViewBag.Title = "Команда " + @Model.Title;
    int i = 0;
    int k = 0;
}
    <div>
        <h1>Корректирующие коэффициенты</h1>
        <dl>
            <dt>Команда: <a asp-action="Details" asp-controller="Team" asp-route-id="@Model.Id">@Model.Title</a></dt>
        </dl>
        <table class="data_table">
            <thead>
                <tr class="title_tr">
                    <th class="th_item" colspan="3"></th>
                    <th class="th_item center" colspan="2">Спринт 1</th>
                    <th class="th_item center" colspan="2">Спринт 2</th>
                    <th class="th_item center" colspan="2">Спринт 3</th>
                </tr>
                <tr class="title_tr">
                    <th class="th_item center">№</th>
                    <th class="th_item center">Имя</th>
                    <th class="th_item center">Коэффициент</th>
                    <th class="th_item center">Часы</th>
                    <th class="th_item center">Рабочие часы</th>
                    <th class="th_item center">Часы</th>
                    <th class="th_item center">Рабочие часы</th>
                    <th class="th_item center">Часы</th>
                    <th class="th_item center">Рабочие часы</th>
                </tr>
            </thead>
            <tbody id="team_det">
                @foreach (Person person in Model.Persons)
                {
                    i++;
                    <tr>
                        <td class="center td_index">@i.</td>
                        <td class="pad_td"><a asp-action="Details" asp-controller="Person" asp-route-id="@person.Id">@person.Name</a></td>
                        <td id="factor-@k" class="center"><input asp-route-id="@person.Id" pattern="\d+(.\d{0,})?" placeholder="@person.Coefficient.ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US"))" value="@person.Coefficient.ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US"))" class="edit factor center" /></td>
                        
                        <td id="hour1-@k" class="center"><input pattern="^[0-9]+$" asp-route-id="@person.Id" placeholder="@person.Hours1" value="@person.Hours1" class="edit hours1 center" /></td>
                        <td id="workHours1-@k" class="center"></td>
                        
                        <td id="hour2-@k" class="center"><input pattern="^[0-9]+$" asp-route-id="@person.Id" placeholder="@person.Hours2" value="@person.Hours2" class="edit hours2 center" /></td>
                        <td id="workHours2-@k" class="center"></td>
                        
                        <td id="hour3-@k" class="center"><input pattern="^[0-9]+$" asp-route-id="@person.Id" placeholder="@person.Hours3" value="@person.Hours3" class="edit hours3 center" /></td>
                        <td id="workHours3-@k" class="center"></td>
                    </tr>
                    k++;
                }
                @if (i == 0)
                {
                    <tr><td class="center" colspan="4">Отсутствуют</td></tr>
                }
            </tbody>
        </table>
        <img id="load" src="~/images/loading.gif" class="icon_width hidden" />
        <img id="loadFinish" src="~/images/load_finish.png" class="icon_width hidden" />
        <script src="~/js/coefficientsEdit.js"></script>
    </div>
