@using Project.Data.Models
@model Team

@{
    ViewBag.Title = "Команда " + @Model.Title;
    int i = 0; //Номер сотрудника
    int k = 0; //Порядковый номер в списке
}
<div>
    <h1>Корректирующие коэффициенты</h1>
    <dl>
        <dt>Команда: <a asp-action="Details" asp-controller="Team" asp-route-id="@Model.Id">@Model.Title</a></dt>
        <dt id="selDt">
            Спринты: 
            <select id="sprintSel" currentSprints="@Model.Sprints" asp-route-id="@Model.Id">
                <option selected="selected" value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </dt>
    </dl>
    <table class="data_table">
        <thead>
            <tr class="title_tr">
                <th class="th_item" colspan="3"></th>
                @for (int j = 1; j <= @Model.Sprints; j++)
                {
                    <th id="sprints-@j" class="th_item center column-@j" colspan="2">Спринт @j</th>
                }
                <th id="emptyAboveSum" class="th_item" colspan="2"></th>
            </tr>
            <tr class="title_tr">
                <th class="th_item center">№</th>
                <th class="th_item center">Имя</th>
                <th class="th_item center cell_factor">Коэффициент</th>
                @for (int j = 1; j <= @Model.Sprints; j++)
                {
                    <th class="th_item center cell_hour column-@j">Часы</th>
                    <th class="th_item center cell_work_hour column-@j">Рабочие часы</th>
                }
                <th class="th_item center cell_sum">Сумма часов</th>
                <th class="th_item center cell_sum">Сумма рабочих часов</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Person person in Model.Persons)
            {
                i++;
                <tr>
                    <td class="center td_index">@i.</td>
                    <td class="pad_td name"><a class="name" asp-action="Details" asp-controller="Person" asp-route-id="@person.Id">@person.Name</a></td>
                    <td id="factor-@k" class="cell_factor center"><input id="factor_input-@k" class="edit factor center" asp-route-id="@person.Id" pattern="\d+(.\d{0,})?" placeholder="@person.Coefficient.ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US"))" value="@person.Coefficient.ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US"))" /></td>
                    @for(int sprint = 1; sprint <= @Model.Sprints; sprint++)
                    {
                        @foreach (SprintHour SprintHour in person.SprintHours.Where(p => (p.PersonId == person.Id && p.Sprint == sprint)))
                        {
                            <td id="Hours_td-@sprint-@k" class="center cell_hour column-@sprint"><input id="Hours-@sprint-@k" class="edit center hour_input-@sprint" asp-route-id="@person.Id" placeholder="@SprintHour.Hours" value="@SprintHour.Hours" autocomplete="off"/></td>
                            <td id="WorkHours-@sprint-@k" class="center cell_work_hour column-@sprint"></td>
                        }

                    }
                    <td id="sumHours-@k" class="cell_sum center"></td>
                    <td id="sumWorkHours-@k" class="cell_sum center"></td>
                </tr>
                k++;
            }
            @if (i == 0)
            {
                <tr><td class="center" colspan="4">Отсутствуют</td></tr>
            }
        </tbody>
    </table>
    <img id="load" src="~/images/loading.gif" class="icon_width hidden" />
    <img id="loadFinish" src="~/images/load_finish.png" class="icon_width hidden" />
    <script src="~/js/coefficientsEdit.js"></script>
</div>
