@using Project.Models
@model Team

@{
    ViewBag.Title = "Команда " + @Model.Title;
}
<a asp-action="TimeTable" asp-controller="Team" asp-route-id="@Model.Id">График</a>
<div>
    <hr />
    <dl>
        <dt>Название @Html.DisplayFor(model => model.Title)</dt>
        <dt>Участники</dt>

        <dd>
            <ul>
                @foreach (Person person in Model.Persons)
                {
                    <li>@person.Name (@person.Position)</li>

                }
            </ul>
        </dd>
    </dl>
</div>
