@model IEnumerable<Team>
@{
    ViewBag.Title = "Все команды";
    int i = 0;
}
<a asp-action="Create">Создать команду</a>
<table class="table">

    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td><h5>@i.</h5></td>
            <td class="pad_td">@item.Title</td>
            <td>
                <a asp-action="Details" asp-controller="Team" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Edit" asp-controller="Team" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Delete" asp-controller="Team" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
</table>
