@using Project.Models
@model Team

@{
    ViewBag.Title = "Команда " + @Model.Title;
    string day;
    switch (Model.Duty)
    {
        case 1:
            day = ("день");
            break;
        case 2:
        case 3:
        case 4:
            day = ("дня");
            break;
        default:
            day = ("дней");
            break;
    }
}
<div>
    <h1>График дежурств</h1>
    <dl>
        <dt>Команда: @Model.Title</dt>
        <dt>
            Дежурства: @Model.Duty @day
        </dt>
    </dl>
    <div class="yearOpt">
        <select id="yearSel" name="yearSel">
        </select>
        <select id="monthSel" name="monthSel">
            <option selected="selected" value="0">Январь</option>
            <option value="1">Февраль</option>
            <option value="2">Март</option>
            <option value="3">Апрель</option>
            <option value="4">Май</option>
            <option value="5">Июнь</option>
            <option value="6">Июль</option>
            <option value="7">Август</option>
            <option value="8">Сентябрь</option>
            <option value="9">Октябрь</option>
            <option value="10">Ноябрь</option>
            <option value="11">Декабрь</option>
        </select>
    </div>
    <div style="clear:both;"></div>
    <div id="graf">
        <table class="timeTable">
            <tbody>
                <tr id="days">
                    <td rowspan="2"></td>
                </tr>
                <tr id="wd">
                </tr>
                @{ var i = 0; }
                @foreach (Person person in Model.Persons)
                {
                    i++;
                    <tr id="str-@i">
                        <td>@person.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <span class="hidden" id="persons">@i</span>
    <script src="~/js/timeTable.js"></script>
</div>
