@using Project.Data.Models
@model Team

@{
    ViewBag.Title = "Команда " + @Model.Title;
    int i = 0;
    int j = 0;
    int k = 0;
    string day;
    var DutyStartDate = @Model.DutyStartDate;
    switch (Model.DutyDuration)
    {
        case 1:
            day = ("день");
            break;
        case 2:
        case 3:
        case 4:
            day = ("дня");
            break;
        default:
            day = ("дней");
            break;
    }
}
<div>
    <h1>График дежурств
        <a asp-action="Edit" asp-controller="TimeTable" asp-route-id="@Model.Id">
            <img asp-route-id="@Model.Id" src="~/images/settings.png" class="big_setting" alt="settings" />
        </a>
    </h1>
    <dl>
        <dt>Команда: <a asp-action="Details" asp-controller="Team" asp-route-id="@Model.Id">@Model.Title</a></dt>
        <dt>
            Длительность дежурств: <span id="duties">@Model.DutyDuration</span> @day
        </dt>
        <dt>
            Начало дежурств: <span id="dutyStartDate" date="@DutyStartDate.ToString("dd/MM/yyyy")">@DutyStartDate.ToString("dd/MM/yyyy")</span>
        </dt>
    </dl>
    <div class="yearOpt">
        <select id="yearSel" name="yearSel">
        </select>
        <select id="monthSel" name="monthSel">
            <option selected="selected" value="0">Январь</option>
            <option value="1">Февраль</option>
            <option value="2">Март</option>
            <option value="3">Апрель</option>
            <option value="4">Май</option>
            <option value="5">Июнь</option>
            <option value="6">Июль</option>
            <option value="7">Август</option>
            <option value="8">Сентябрь</option>
            <option value="9">Октябрь</option>
            <option value="10">Ноябрь</option>
            <option value="11">Декабрь</option>
        </select>
    </div>
    <div style="clear:both;"></div>
    <div id="graf">
        <table class="timeTable">
            <tbody>
                <tr id="days">
                    <td rowspan="2"></td>
                </tr>
                <tr id="wd">
                </tr>
                @foreach (Person person in Model.Persons.Where(c => c.Duty == true))
                {
                    i++;
                    if (@Model.FirstPersonInDutyId == person.Id)
                    {
                        k = i;
                    }
                    <tr id="str-@i">
                        <td id="duty-@person.Id"><a asp-action="Details" asp-controller="Person" asp-route-id="@person.Id">@person.Name</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <span class="hidden" id="persons" persons="@i" FirstPersonInDuty="@k"></span>
    <div id="vacations">
        @foreach (Person person in Model.Persons.Where(c => c.Duty == true))
        {
            j++;
            <ul id="person-@j">
                @foreach (Vacation vacation in person.Vacations)
                {
                    <li class="vacs-@j" startDate="@vacation.StartDate.ToString("dd/MM/yyyy")" endDate="@vacation.EndDate.ToString("dd/MM/yyyy")"></li>
                }
            </ul>
        }
    </div>
    <script src="~/js/timeTable.js"></script>
</div>
