@model Project.Models.Person
@{
    ViewBag.Title = Model.Name;
}
<h2>Сотрудники @Model.Name</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Имя</dt>
        <dd>@Model.Name</dd>

        <dt>Должность</dt>
        <dd>@Model.Position</dd>

        <dt>Команда</dt>
        @if (@Model.TeamId == null)
        {
            <dd>Отсутствует</dd>
        }
        else
        {
            <dd>@Model.Team?.Title</dd>
        }
    </dl>
</div>
