@model Person
@{
    ViewBag.Title = Model.Name;
}
<h2>Сотрудник: @Model.Name</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Имя</dt>
        <dd>@Model.Name</dd>

        <dt>Должность</dt>
        <dd>@Model.Position</dd>
        <dt>Команда</dt>
        @if (@Model.TeamId == null)
        {
            <dd>Отсутствует</dd>
        }
        else
        {
            <dd><a asp-action="Details" asp-controller="Team" asp-route-id="@Model.Team.Id">@Model.Team?.Title</a></dd>
        }
    </dl>
    <a asp-action="Edit" asp-controller="Person" asp-route-id="@Model.Id">Изменить</a>
</div>
