@using Project.Data.Models
@model Person
@{
    ViewBag.Title = Model.Name;
}
<div>
    <dl class="dl-horizontal">
        <dt>Имя</dt>
        <dd>
            @Model.Name
                <a asp-action="Edit" asp-controller="Person" asp-route-id="@Model.Id">
                    <img asp-route-id="@Model.Id" src="~/images/settings.png" class="settings" alt="settings" />
                </a>
            </dd>
        <dt>Должность</dt>
        <dd>@Model.Position</dd>
        <dt>Команда</dt>
        @if (@Model.TeamId == null)
        {
            <dd>Отсутствует</dd>
        }
        else
        {
            <dd><a asp-action="Details" asp-controller="Team" asp-route-id="@Model.Team.Id">@Model.Team?.Title</a></dd>
        }
        <dt><a asp-action="Vacations" asp-controller="Person" asp-route-id="@Model.Id" >Отпуска</a></dt>
    </dl>
</div>
